$container: 1200px;

$font-color: rgba(51,51,51,0.5);

$font-color1: rgb(51,51,51);

$color-red: #f06045;

$font-color-white:#fff;

$banner-height:700px;

$z-index5:5;

$header-height:80px;

$header-background-color:transparent;

$body-background-color:#f9f9f9;

$card-background-color:#fff;

$border: 1px solid #ececec;

$ue-card-width: 584px;

$ue-card-height: 284px;
